#XYZ Config

db-subprotocol=postgresql
db-subname=//142.93.46.111:5455/usermanagement
db-host=142.93.46.111
db-port=5455
db-name=usermanagement
db-user=postgres
db-password=#$o^op(3r13_o(0pR++


;metabase throttler configs
attempts-threshold=10
initial-delay-ms=20000
delay-exponent=0

#throttler throttler configs
COMPOJURE_THROTTLE_TTL=1000
COMPOJURE_THROTTLE_TOKENS=3
COMPOJURE_THROTTLE_RESPONSE_CODE=420


